{% extends 'layout.twig' %}

{% block content %}
<div class="button-list">
    <ul class="action-buttons-list">
        <li>
            Coucou <br><br><a class="btn btn-lg btn-scores">On est loggué</a>
        </li>
    </ul>
</div>
{% endblock %}
